body{
	background-color: #364356;
}
.container h2{
	color:#d8bba0;
	text-align: center;
	background-size: cover;
	font-size: 11pts;
	margin:auto;
}
#design {
	background-image:linear-gradient(-8deg, #364356 0%, rgba(54,67,86,0.8509803921568627) 29%, rgba(54,67,86,0) 76%),url('1233.png');
	width: 58%;
	border: 2px solid #364355;
	height:750px;
	align-content: center;
	padding-top:480px;
	margin: auto;
}
.section1 .right{
	width: 55%;
	float: right;
	opacity: 90%;
}
.section1 .right .titre{
font-size: 60px;
line-height: 50px;
color: #c2a080;
font-weight: bold;
font-style: italic;
font-family: "Roboto";
}
.section1 .right p{
	width: 880px;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #d8bba0;
	font-weight: 300;
	font-family: "Roboto";
	text-align: left;
	float: left;
	padding-right: 35px;
}
.section1 .right #button{
	background-color: #d8bba0;
	width: 70%;
	height: 10%;
	font-size: 20px;
	line-height: 10px;
	color: #364250;
	font-weight: 700;
	font-family: "Roboto";
	text-transform: uppercase;
	padding: 20px;
	border: transparent;
	border-radius: 49px;
}
.left{
	width: 35%;
	float: left;
}
.section2{
	margin-top: 20px;
}
.section1 .right{
	margin-top: -100px;

}
.section2 .right h6{
	font-size: 31px;
	line-height: 75px;
	color: #c2a080;
	font-weight: 400;
	font-family: "Roboto";
	padding-left: 500px;
	}
.section2 .right em{
	font-size: 80px;
	line-height: 65px;
	color: #c2a080;
	font-weight: 400;
	font-style: italic;
	font-family: "Sacramento";
	transform: rotate(50deg);

}
.section2 .left{
	margin-top: 100px;
}
.section2 .left #date{
	font-size: 20px;
	line-height: 35px;
	color: #c2a080;
	font-weight: 700;
	font-family: "Roboto";
	text-align: left;
	margin-left: 50px;
	border: 2px solid #d8bba0;
}
.section2 .left h3{
	font-size: 20px;
	line-height: 35px;
	color: #c2a080;
	font-weight: bold;
	font-style: italic;
	font-family: "Roboto";
	padding-left: 50px;
}
.section2 .left p{
	width:880px;
	height: 392px;
	font-size: 18px;
	color: #d6b698;
	font-weight: 400;
	font-style: italic;
	font-family: "Roboto";
	padding-left: 50px;
}
.text {
		font-size: 98px;
	line-height: 69px;
	color: #28303b;
	font-weight: 700;
	font-style: italic;
	font-family: "Roboto";
	text-align: center;
	filter: drop-shadow(4.769px 7.632px 0px rgba(0,0,0,0.46));
}
.image{
	width:100%;
	height:95%;
}
img{
    padding: 2px;
	width: 20px;
	height: 20px;
}
#design .section3{
	background-image: url('Texture.jpg');
	width: 100%;
	height: 130px;
	margin-top: 200px;
}