.container{
	background-color: #F5FFFA ;
	width: 850px;
	height: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.design{
		background-color: #F5FFFA ;
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 3px solid black;

	}
#vertical{
	display: inline-block;
  background-color:#F5FFFA;;
	width: 39%;
	height: 100%;
	float: left;
	border-right: 3px solid black;

}
.logo{
	padding-top: 3px;
	padding-left: 3px;
	width:90%;
	height: 25%;
	border-radius: 50%;
	padding-bottom: 15px;
}
#vertical h3{
	background-color:#F0FFFF;
	text-transform: uppercase;
	font-size: 12pts;
	font-family: amiri, serif;
	line-height: 15pts;
	letter-spacing: 3px;
	color: #000;
	padding-left: 100px;
}
#vertical h4,li{
	padding: 5px;
	color: #000;
}
#vertival hr{
	  border: 0;
	  border-top:3px solid yellow;
	  width: 50%;
	  margin-left:20px;
	}
#horizontal
 {   float: right;
		display: inline-block;
		width: 60%;
		height: 100%;
		background-color:#F5FFFA;
	}
#horizontal hr
 {
	  border: 0;
	  border-top:3px solid black;
	  width: 80%;
	  margin-left:12px;
	}
.propos{
	background-color:#F5FFFA;
	width: 96%;
	height: 140px;
	line-height: 20pts;
	letter-spacing:2px;
	color: #000;

	}
.part
{
	display: block;
	width: 100%;
	height: 100%;
	padding-left:20px;
}
.part h1{
	text-transform: capitalize;
}
p{
	color: #000;
}
.svg-icon{
	padding-right: 15px;
	width: 30px;
	height: 30px;
}
